* {
  font-family: maledpan;
}

mat-icon {
  font-family: "Material Icons" !important;
}


.content {
  padding: 2% 12% 2% 12%;
}

.background-calculate {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.mat-card-header{
  background-color:whitesmoke !important;
  padding:0px !important;
}

 .mat-card{
  padding:0 !important;
}

.mat-card-content{
  padding:30px !important;
}