<div class="container">
  <mat-toolbar color="primary">
    <mat-toolbar-row fxHide.lt-md>
      <div>
        <span style="color: #36837e">ระบบคำนวณเพื่อเตรียมสาร</span>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row fxHide.gt-sm>
      <span style="color: #36837e">ระบบคำนวณเพื่อเตรียมสาร</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <p>
      ©2021. All Rights Reserved.
      <a href="https://athip60@github.com">athip60@github.com</a>
    </p>
  </div>
</div>
